<% if user_signed_in? %>

<table class="table table-striped">
  <thead class="thread-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <% @friends.each do |friend| %>
      <% if friend.user == current_user %>
      <tr>
        <td><%= link_to friend.first_name + " " + friend.last_name, friend %></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %></td>
        <td>
        <%= link_to "Edit", edit_friend_path(friend), class: "btn btn-outline-secondary btn-sm" %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "New friend", new_friend_path, class:"btn btn-secondary" %>

<% else %>
<h1> hello world </h1>
<% end %>